* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 35px;
    font-weight: 300;
    text-align: right;


    span {
        font-weight: 400;
    }
}


header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #182580;
    padding: 5px 3%;
}

.logo-ps {
    width: 60px;
}

.logo-sony {
    width: 120px;
}

section {
    height: 80vh;
    display: flex;
    position: relative;


    .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;


        .item {
            position: absolute;
            inset: 0;

            .div-img {
                position: absolute;
                top: 50%;

                transform: translateY(-50%);
                width: 70%;
            }
        }
    }
}

.div-text {
    position: absolute;
    right: 30px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.img-console {
    width: 70%;
}


.ps2 {
    width: 45%;
}

button {
    border: none;
    border-radius: 19px;
    background-color: #fff;
    width: 100px;
    padding: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0070D1;
    border: none;
    transition: .5s;
}

.indicator {
    position: absolute;
    top: 80%;
    left: 5%;



    .number {
        font-size: 4em;
    }

    ul {
        display: flex;
        gap: 10px;
    }

    li {
        list-style: none;
        width: 50px;
        height: 5px;
        background-color: #0070D1;
        border-radius: 10px;
        transition: .5s;
    }

    .active {
        background-color: #182580;
    }
}

.arrows {
    width: 93vw;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    justify-content: space-between;
    transform: translate(-50%, -25%);

    button:nth-child(1) {
        transform: scale(-1);
    }

    button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px;
        background: #0070D1;

        img {
            width: 100%;
        }
    }


}

section {
    .list {
        --calculation: 1;

        .item {
            transform: translatex(calc(100vw * var(--calculation)));
            transition: .5s;
            opacity: 0;

            .div-text {

                h1,
                a {
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: .7s;
                    transition-delay: .3s;
                }

                h1 {
                    transition-delay: .5s;
                }

                a {
                    transition-delay: .7s;
                }
            }
        }

        .active {
            transform: translateX(0);
            transition: .5s;
            opacity: 1;

            .div-text {

                h1,
                a {
                    transform: translateX(0);
                    transition: .7s;
                    transition-delay: .3s;
                }

                h1 {
                    transition-delay: .4s;
                }

                a {
                    transition-delay: .5s;
                }
            }
        }
    }
}